*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@import '../Sass/colors';
@import '../Sass/typography';
@import '../Sass/spacing';

body{
    width: 100%;
    background-color: #050607;
}

@import '../Sass/layout';